html {
    height: 100vh;
}

body {
    margin: 1% 8% 0;
    background-color: #181717;
    height: 100vh;
   /* overflow: hidden; */
}

/*NAVIGATION PRINCIPALE*/
header {
    margin-bottom: 1%;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav li a {
    margin-left: 57px;
    font-family: "KozGoPro-Light";
    color: #fff;
    text-decoration: none;
    letter-spacing: 3pt;
}

a:hover {
    color: #3eb37f;
}

.navActive {
    font-family: "KozGoPro-Light";
    color: #3eb37f;
}


/*MAIN*/
#logo {
    width: 7%;
    height: 7%;
}

h1 {
    font-size: 30pt;
    color: #fff;
    text-align: right;
    font-family: "Grotesk";
    margin: 0;
}

h2 {
    font-family: "KozGoPro-Light";
    font-size: 15pt;
    color: #3eb37f;
    letter-spacing: 5pt;
    text-align: right;
    margin-top: 0;
}

h3 {
    font-family: "KozGoPro-Light";
    color: #fff;
    text-decoration: none;
    letter-spacing: 3pt;
}

.socialmedia {
    font-family: "KozGoPro-Light";
    font-size: 12pt;
    position: absolute;
    bottom: 0px;

}

.socialmedia a {
    border: 1px solid #fff;
    padding: 7px;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 68px;
    height: 21px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.socialmedia a:hover {
    color: #3eb37f;
}

#twitter {
    margin-bottom: 10px;
}

.gauche {
    width: 45%;
    position: relative;
}

.id {
    display: flex;
    justify-content: space-between;
}


p {
    font-family: "KozGoPro-Light";
    color: #fff;
}

main {
    display: flex;
}

/* // ABOUT // */
#presentation {
    width: 60%;
    line-height: 16pt;
}

#presentation p{
    margin-top: 0;
    width: 240px;
}

#linkedin {
    margin-bottom: 140px;
}

#txt-link {
    text-decoration: none;
    color: #fff;
}


/* // GALLERY // */
.gallery {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

#gall-res {
    margin: 3% 0;
}

.titre-gall {
    margin-right: 20px;
}

.gallery a{
    width: 45%;
    position: relative;
    text-align: right;
    margin-bottom: 0;
    font-family: "KozGoPro-Light";
    color: #fff;
    text-decoration: none;
    letter-spacing: 3pt;
}

.gallery a:hover {
    color: #3eb37f;
}

.gallery img{
    width: 100%;
    position: relative;
    filter: grayscale(100%);
}

.gallery img:hover {
    filter: none;
}


/* // PROJECT // */
.projetG {
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
}

.projetG .titreProjet {
    text-align: right;
    margin-right: 10px;
}

.titreProjet {
    font-family: "KozGoPro-Light";
    color: #fff;
    text-decoration: none;
    letter-spacing: 3pt;
}

.droite img {
    filter: grayscale(100%);
    height: 240px;
 }

.gaucheP img {
    filter: grayscale(100%);
    height: 240px;
 }

.gaucheP img:hover {
    filter: none;
}

.droiteP{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3% 0;
}

.droiteP img {
    filter: grayscale(100%);
    height: 240px;
}

.droiteP img:hover {
    filter: none;
}

.gaucheP {
    margin: 3% 0;
}


.droite img:hover {
    filter: none;
}

.projetD {
    float: left;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-left: 5px;
    margin-bottom: 5px;
}

.droite {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projetD .titreProjet {
    text-align: left;
    margin-left: 10px;
}

.gaucheP {
    width: 47%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* // CONTACT // */
.form-control {
    margin: 0px;
    background-image: linear-gradient(to right, rgb(62, 179, 127), rgb(24, 23, 23));
    border: 0;
    margin-bottom: 10px;
    width: 166px;
    border-radius: 0; /*Firefox*/
}

#contact {
    display: flex;
    justify-content: space-between;
}

#contactMain {
    margin-top: 65px;
}

#contactMainSignUP {
    margin-top: 40px;
}


#contact h3 {
    color: #fff;
    font-family: "KozGoPro-Light";
    font-size: 12pt;
    text-decoration: none;
}

#info {
    float: right;
    text-align: right;
}

#info a:hover {
    color: #3eb37f;
}

#info a{
    text-decoration: none;
    font-family: "KozGoPro-Light";
    color: #fff;
}


#FormText {
    height: 130px;
    width: 166px;
}

input::placeholder {
  color: #333333;
  padding-left: 2px;
}

input {
    color: #fff;
    font-family: "KozGoPro-Light";
    padding-left: 10px;
}


textarea {
    color: #fff;
    font-family: "KozGoPro-Light";
    padding-left: 10px;
}


textarea::placeholder {
  color: #333333;
  font-family: "KozGoPro-Light";
  padding-left: 2 px;
}

#btn-submit {
    font-family: "KozGoPro-Light";
    padding-left: 10px;
    width: 177px;
    margin-top: 3%;
    background: linear-gradient(to left, rgb(62, 179, 127), rgb(24, 23, 23));
    border: none;
    color: #101010;

}

form a {
    color: #8e8e8e;
    font-family: "KozGoPro-Light";
    font-size: x-small;
}



/*FOOTER*/
footer {
    font-family: "KozGoPro-Light";
    font-size: 8pt;
    text-align: center;
    margin-top: 1%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.bas {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#footer-responsive {
    display:none;
}

/* // SUB-GALLERY // */ 

.column {
    width: 24%;
    padding: 0 4px
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.column img {
    width: 100%;
    vertical-align: middle;
    margin-top: 8px;
}

.cont-btn-back {
    background: none;
    display: flex;
    justify-content: center;
}

.btn-back {
    border: 1px solid #fff;
    font-family: "KozGoPro-Light";
    font-size: 12pt;
    text-align: center;
    width: 110px;
    height: 21px;
    padding: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #fff;
}

#sub{
    flex-flow: column;
}


/* // SUB-PROJECT // */

#contentProjet {
    display:flex;
}

.rowProjet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /*width: 60%;*/
    float: right;
}

.rowProjet .column {
    width: 32%;
}

.detailProjet {
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    line-height: 150%;
}

.imgProjet {
    width: 65%;
    margin: 3% 0;
}

#textProjet {
    margin: 3% 0;
}


/*LIGHTBOX*/

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 6%;
}

.lightbox:target {
    outline: none;
    display: block;
}

/*FONTS*/
@font-face {
    font-family: "Grotesk";
    src: url('../sources/Grotesk.otf')
}

@font-face {
    font-family: "KozGoPro-Light";
    src: url('../sources/KozGoPro-Light.otf')
}


/*SLIDESHOW*/

/* Slideshow container */
.slideshow-container {
    width: 53%;
    position: relative;
    margin: auto;
    margin-right: 0px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #3eb37f;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*MENTIONS LÉGALES, PLAN, AIDE*/
#mentions a {
text-decoration: none;
color: #fff;
}

#plan {
    width: 100%;
}

#liste{
    font-family: "KozGoPro-Light";
    color: #fff;
}

/* LOGIN FORM */
#connectTitle {
    margin: auto;
}

.form-group label {
    color: #8e8e8e;
    font-family: "KozGoPro-Light";
    font-size: smaller;
}

#logNom, #logPwd {
    margin-top: 0;
    margin-bottom: 5px;
}

#formLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: right;
}

/* PROFIL */

.rowGalProf {
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
width: 60%;
float: right;
}

#logoutLnk {
    font-family: "KozGoPro-Light";
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 5px;
}

#logoutLnk:hover {
    color: #3eb37F;
    border-color: #3eb37F;
}


#subContact {
    display: flex;
    justify-content: space-between;
}

#modifForm input{
    width: 220px;
}

#subContact p{
    margin:0;
}

.infoUser {
    color: #3eb37F;
}

/* COMMENTS */

.comLnk {
    margin-right: 10px;
}

#comSectGauche {
    width: 50%;
    position: relative;
    margin: 3% 0;
}

#contentComGal{
    display: flex;
    justify-content: space-between;
}

#imgComGal {
    width: 50%;
    margin: 3% 0;
}

#imgComGal img {
    width: 100%;
}

#comSect {
    width: 95%;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 150%;
    justify-content: space-between;
}

#FormTextCom {
    height: 130px;
    width: 100%;
}

#formCom input#btn-submit {
    float: right;
}





/*--------------------------------------------------------------------------------------*/

/*RESPONSIVE*/

#header-responsive {
    display: none;
}

#header-menu {
    display:none;
}

.main-res{
    display: none;
}

.socialmedia-resp {
     display: none;

}

#form-Res {
    display:none;
}

@media (max-width:1100px){
    #contact{
        display: none;
    }
    #contactMain {
        margin:0;
    }
    #info {
        font-size: x-small;
    }
}


@media (max-width:1400px){
    .socialmedia {
         display: none;
    }

  #txt-link {
    color: #3eb37f;
}
}
@media (max-width:950px){
    .column {
        width: 100%
    }
    #img-lightbox {
        display: none;
    }

@media (max-width:768px){

/*RESPONSIVE // NAV-HEADER*/
body{
    margin: 0;
    margin-top: 0;
}

header {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

.socialmedia-resp {
     display: block;

}

.navActive {
    font-family: "KozGoPro-Light";
    color: #fff;
}


#header-responsive {
    display: block;
    position: absolute;
    height: 50vh;
    width: 100%;
    background-color: #3eb37f80;
    transition: 0.5s;
    z-index: 4;
}

#header-responsive #logo {
    width: 30px;
    height: 50px;
}

#header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 20px;
    position: absolute;
    width: calc(100% - 20px);
    z-index: 5;
}

.toggle-menu {
    transition: 0.5s;
    transform: translate(0, -500px);
}

#menu-btn {
    padding-right: 20px;
    height: 30px;
}

#header-responsive nav ul {
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#header-responsive nav li a {
    margin-left: 0;
}

.gauche {
    display: none;
}

footer {
    bottom: 0;
}

/*RESPONSIVE // MAIN*/
#idRes {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 83%;
    background: none;
    margin-right: 20px;
    width: 100%;
}
.slideshow-container {
    width: 100%;
}

.slideshow-container {
    display: none;
}

.main-res {
    display: block;
    width: 100%;
    height: 100vh;
}

#imgBack-res {
    background-image: url('../img/slide1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    background-size: cover;

}

#twitter {
    margin: 0 20px 20px;
}

#instagram {
    margin: 0 20px 20px;
}

.socialmedia-resp {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.socialmedia-resp {
    font-family: "KozGoPro-Light";
    font-size: 12pt;
    position: absolute;
    bottom: 0px;

}

.socialmedia-resp a {
    border: 1px solid #fff;
    padding: 7px;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 68px;
    height: 21px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.socialmedia-resp a:hover {
    color: #3eb37f;
}

/*RESPONSIVE // FOOTER*/
#footer-responsive {
    display: block;
    margin: 0px 20px 0px 20px;
}

footer {
    display: none;
}

/*RESPONSIVE // CONTACT*/

.main-res form {
    background: none;
    height: 35px;
}

#form-Res {
    display: block;
}

#info{
    background: none;
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 47%;
    margin: 170px 20px 0 0;
    font-size: 10pt;
}

#contact-res {
    background: none;
    margin: 10px 4%;
    height: 40%;
    display: flex;
}

#contact-res p {
    margin-top: 0;
}

/*RESPONSIVE // GALLERY */
.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#gall-res {
    margin: 20% 0 10% 0;
    text-align: center;
}

#gall-res img {
    width: 90%;
}

#gall-res a {
    width: 100%;
    margin-right: 9%;
}

/*RESPONSIVE // SUB-GALLERY */
.cont-btn-back {
    background: none;
    display: flex;
    justify-content: center;
}

.btn-back {
    border: 1px solid #fff;
    font-family: "KozGoPro-Light";
    font-size: 12pt;
    text-align: center;
    width: 110px;
    height: 21px;
    padding: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #fff;
}

.column img {
    margin-top: 25px;
}

/* RESPONSIVE // ABOUT */
#presentation-res{
    background: none;
    margin: 10% 3%;
    /* width: 68%; */
    display: flex;
    max-height: 300px;
    font-size: 10pt;
}

/* RESPONSIVE // MENTIONS et PLAN */
#mentions {
        margin: 30% 3% 10%;
}

#plan {
    margin: 30% auto 10%;
    width: 95%;
}