 <header>
            <nav>
                <ul>
                    <li><a href="index">HOME</a></li>
                    <li><a href="/index.php/about">ABOUT</a></li>
                    <li><a href="#">PROJECT</a></li>
                    <li><a class="navActive" href="/index.php/gallery">GALLERY</a></li>
                    <li><a href="/index.php/contact">CONTACT</a></li>
                    <li><a href="/index.php/profil">USER</a></li>
                </ul>
            </nav>
        </header>
        <main id="sub">
            <!-- RESPONSIVE -->
            <section class="main-res" style ="height: 50px;">
                 <div class="cont-btn-back">
                    <a class="btn-back" href="index/gallery" >other gallery</a>
                </div>
            </section>
            <!-- ---------- -->